/* :root{
  --bg-color: #fff;
  --text-color: #000;
}
 
@media (prefers-color-scheme:dark){
  :root{
    --bg-color: #000;
    --text-color: #fff;
  }
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
} */